<% include ./partials/header %> 
<h1>hello</h1>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to Blog Site</h1>  
            <p>Here you can blog about your favorite topics</p>
        </div>
    </header>


<% include ./partials/footer %> 