<%include ./partials/header%>

<h1>hello</h1>

<h1>ERROR CANNOT DELETE OR EDIT THIS POST SINCE YOU ARE NOT THE AUTHOR OF THE POST</h1>

<a href="/blogs">Click here to go back to blogs page</a>




<%include ./partials/footer%>